---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import { Products } from "../components/Products";

---

<Layout title="Categorias">
    <Navbar client:load/>

    <div class="bg-slate-200" id="camisetas">
        <div class="bg-black flex items-center justify-center">
            <h1 class="mt-32 text-2xl text-white text-center" >CAMISETAS</h1>
        </div>
        
        <div class="flex flex-wrap justify-center gap-4 p-2 mt-2">
            <Products categoria="Camiseta" client:load/>
        </div>
    </div>
    <div class="bg-slate-200" id="camisetas">
        <div class="bg-black flex items-center justify-center">
            <h1 class="mt-32 text-2xl text-white text-center" >PANTALONES</h1>
        </div>
        
        <div class="flex flex-wrap justify-center gap-4 p-2 mt-2">
            <Products categoria="Pantalones" client:load/>
        </div>
    </div>
    <div class="bg-slate-200">
        <div class="bg-black flex items-center justify-center">
            <h1 class="mt-32 text-2xl text-white text-center" >MEDIAS</h1>
        </div>
        <div class="flex flex-wrap justify-center gap-4 p-2 mt-2">
            <Products categoria="Calcetines" client:load/>
        </div>
    </div>
    <div class="bg-slate-200">
        <div class="bg-black flex items-center justify-center">
            <h1 class="mt-32 text-2xl text-white text-center" >NIKE</h1>
        </div>
        
        <div class="flex flex-wrap justify-center gap-4 p-2 mt-2">
            <Products marca="Nike" client:load/>
        </div>
    </div>
    <div class="bg-slate-200">
        <div class="bg-black flex items-center justify-center">
            <h1 class="mt-32 text-2xl text-white text-center" >ADIDAS</h1>
        </div>
        
        <div class="flex flex-wrap justify-center gap-4 p-2 mt-2">
            <Products marca="Adidas" client:load/>    
        </div>
    </div>
    <div class="bg-slate-200">
        <div class="bg-black flex items-center justify-center">
            <h1 class="mt-32 text-2xl text-white text-center" >PUMA</h1>
        </div>
        
        <div class="flex flex-wrap justify-center gap-4 p-2 mt-2">
            <Products marca="Puma" client:load/>
        </div>
    </div>
    <div class="bg-slate-200">
        <div class="bg-black flex items-center justify-center">
            <h1 class="mt-32 text-2xl text-white text-center" >NEW ERA</h1>
        </div>
        
        <div class="flex flex-wrap justify-center gap-4 p-2 mt-2">
            <Products marca="New Era" client:load/>    
        </div>
    </div>
</Layout>