---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar';
import SectionLarge from '../components/SectionLarge';
import CardCategory from '../components/CardCategory.astro';

const categories = [
	{
		Category: "Camisetas",
		collection: "Entrenamiento",
		image: "CamisetasCat.webp",
	},
	{
		Category: "Pantalones",
		collection: "Entrenamiento",
		image: "pantalonesCat.webp",
	},
	{
		Category: "Hoodies",
		collection: "Entrenamiento",
		image: "hoodieCat.webp",
	},
	{
		Category: "Zapatos",
		collection: "Entrenamiento",
		image: "zapatosCat.jpg",
	}
]
---

<Layout title="Casa Olimpo">
	<Navbar />
	<main>
		<SectionLarge 
			title={"Explora nuestra tienda"}
			full_description={"Todo lo que necesitas para tus entrenamientos, en un solo lugar."}  
			pageHeaderBgImg={"../images/bg1.jpg"}
			pageHeaderMinVh="100vh"
			pageHeaderRadius= "90 90 0 0"
		/>
		<div class="w-full my-20">
			<div class="text-center mb-10 block">
			  <h3 class="text-5xl">Explora las categorias</h3>
			  <a class="text-dark font-weight-bold" href="#">Explora tu categoria preferida &#62;</a>
			</div>
			<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4">
				{categories.map((category) => (
					<CardCategory 
						title={category.Category}
						collection={category.collection}
						thumb_src={category.image}
					/>
				))}
		</div>
	</main>
</Layout>

