---
import Navbar from "../components/Navbar"
import Layout from "../layouts/Layout.astro"
import data from "../../data/dataAuthors.json"
import CardPersonal from "../components/CardPersonal.astro"

---

<Layout title="Acerca de nostros">
    <Navbar />
    <div class="relative min-h-screen">
        <!-- Fondo fijo con desenfoque y tamaño ajustado -->
        <div class="fixed inset-0 w-full h-full bg-gradient-to-r from-yellow-500 via-amber-600 to-yellow-500"></div>
        
        <!-- Contenido que se desplaza sobre el fondo -->
        <div class="relative z-10 flex flex-col items-center justify-center min-h-screen space-y-8 mt-32">
            <h1 class="text-4xl font-bold text-gray-800">Acerca de nosotros</h1>
            <p class="text-xl text-gray-600">Equipo de quienes conforman y administran Casa Olimpo.</p>
            <div class="flex flex-wrap justify-center gap-4 p-2 mt-28">
                {data.map((author) => (
                    <CardPersonal
                        author={author}
                    />
                ))}
            </div>
                
        </div>
    </div>
    

    
    
    
      
</Layout>