---
import CardProduct from "../components/CardProduct";
import Navbar from "../components/Navbar";
import Layout from "../layouts/Layout.astro";
import { Products } from "../components/Products";
import { useEffect } from "react";
import { getPrendas } from "../api/services/prendaService";


---

<Layout title="Productos">
    <Navbar client:load/>
    <div class="flex flex-wrap justify-center gap-4 p-2 pt-28">
        <Products client:load/>
    </div>
</Layout>