---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	
	html {
		background: white;
		background-size: 224px;
		font-family: "Kode Mono", monospace;
  		font-optical-sizing: auto;
  		font-weight: 400;
  		font-style: normal;
	}

	::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de la pista */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Color del control deslizante */
    border-radius: 6px; /* Bordes redondeados del control deslizante */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del control deslizante al pasar el mouse */
}

/* Estilo de la barra de desplazamiento para Firefox */
* {
    scrollbar-width: thin; /* 'auto' o 'thin' */
    scrollbar-color: #888 #f1f1f1; /* Color del control deslizante y color de la pista */
}	
</style>
